<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2026. Volodymyr Hryvinskyi. All rights reserved.
  ~ Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
  ~ GitHub: https://github.com/hryvinskyi
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Hryvinskyi_InvisibleCaptcha::config"
                                      title="Invisible Captcha &amp; Bot Protection"
                                      sortOrder="100"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
