<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2019. Volodymyr Hryvinskyi.  All rights reserved.
  ~ @author: <mailto:volodymyr@hryvinskyi.com>
  ~ @github: <https://github.com/hryvinskyi>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hryvinskyi_invisible_captcha>
            <general>
                <enabledCaptcha>0</enabledCaptcha>
                <captchaSiteKey><![CDATA[]]></captchaSiteKey>
                <captchaSecretKey><![CDATA[]]></captchaSecretKey>
                <validationMessage><![CDATA[Incorrect captcha]]></validationMessage>
            </general>
            <frontend>
                <enabled>0</enabled>
                <enabledCustomerLogin>0</enabledCustomerLogin>
                <scoreThresholdCustomerLogin>0.5</scoreThresholdCustomerLogin>
                <enabledCustomerCreate>0</enabledCustomerCreate>
                <scoreThresholdCustomerCreate>0.5</scoreThresholdCustomerCreate>
                <enabledCustomerForgot>0</enabledCustomerForgot>
                <scoreThresholdCustomerForgot>0.5</scoreThresholdCustomerForgot>
                <enabledContact>0</enabledContact>
                <scoreThresholdContact>0.5</scoreThresholdContact>
                <enabledNewsletter>0</enabledNewsletter>
                <scoreThresholdNewsletter>0.5</scoreThresholdNewsletter>
            </frontend>
            <backend>
                <enabledLogin>0</enabledLogin>
                <scoreThresholdLogin>0.5</scoreThresholdLogin>
                <enabledForgot>0</enabledForgot>
                <scoreThresholdForgot>0.5</scoreThresholdForgot>
            </backend>
        </hryvinskyi_invisible_captcha>
    </default>
</config>
