<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2026. Volodymyr Hryvinskyi. All rights reserved.
  ~ Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
  ~ GitHub: https://github.com/hryvinskyi
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hryvinskyi_invisible_captcha>
            <general>
                <enabled>0</enabled>
                <active_provider>recaptcha_v3</active_provider>
                <use_lazy_load>0</use_lazy_load>
                <disable_submit_form>1</disable_submit_form>
                <debug>0</debug>
            </general>
            <providers>
                <recaptcha_v2_checkbox>
                    <theme>light</theme>
                    <size>normal</size>
                </recaptcha_v2_checkbox>
                <recaptcha_v2_invisible>
                    <badge>bottomright</badge>
                </recaptcha_v2_invisible>
                <recaptcha_v3>
                    <hide_badge>0</hide_badge>
                    <hide_badge_text><![CDATA[This site is protected by reCAPTCHA and the Google
    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
    <a href="https://policies.google.com/terms">Terms of Service</a> apply.]]></hide_badge_text>
                </recaptcha_v3>
                <turnstile>
                    <widget_size>flexible</widget_size>
                    <widget_appearance>interaction-only</widget_appearance>
                </turnstile>
            </providers>
            <form_protection>
                <enabled>0</enabled>
                <frontend>
                    <enabled>0</enabled>
                    <enabled_customer_login>0</enabled_customer_login>
                    <score_threshold_customer_login>0.5</score_threshold_customer_login>
                    <enabled_customer_create>0</enabled_customer_create>
                    <score_threshold_customer_create>0.5</score_threshold_customer_create>
                    <enabled_customer_forgot>0</enabled_customer_forgot>
                    <score_threshold_customer_forgot>0.5</score_threshold_customer_forgot>
                    <enabled_contact>0</enabled_contact>
                    <score_threshold_contact>0.5</score_threshold_contact>
                    <enabled_newsletter>0</enabled_newsletter>
                    <score_threshold_newsletter>0.5</score_threshold_newsletter>
                    <enabled_send_friend>0</enabled_send_friend>
                    <score_threshold_send_friend>0.5</score_threshold_send_friend>
                    <enabled_product_review>0</enabled_product_review>
                    <score_threshold_product_review>0.5</score_threshold_product_review>
                    <enabled_customer_edit>0</enabled_customer_edit>
                    <score_threshold_customer_edit>0.5</score_threshold_customer_edit>
                    <enabled_wishlist>0</enabled_wishlist>
                    <score_threshold_wishlist>0.5</score_threshold_wishlist>
                    <enabled_coupon_code>0</enabled_coupon_code>
                    <score_threshold_coupon_code>0.5</score_threshold_coupon_code>
                    <enabled_place_order>0</enabled_place_order>
                    <score_threshold_place_order>0.5</score_threshold_place_order>
                    <enabled_store_pickup>0</enabled_store_pickup>
                    <score_threshold_store_pickup>0.5</score_threshold_store_pickup>
                    <enabled_paypal_payflowpro>0</enabled_paypal_payflowpro>
                    <score_threshold_paypal_payflowpro>0.5</score_threshold_paypal_payflowpro>
                    <enabled_resend_confirmation_email>0</enabled_resend_confirmation_email>
                    <score_threshold_resend_confirmation_email>0.5</score_threshold_resend_confirmation_email>
                </frontend>
                <backend>
                    <enabled>0</enabled>
                    <enabled_login>0</enabled_login>
                    <score_threshold_login>0.5</score_threshold_login>
                    <enabled_forgot>0</enabled_forgot>
                    <score_threshold_forgot>0.5</score_threshold_forgot>
                </backend>
            </form_protection>
            <route_protection>
                <enabled>0</enabled>
                <provider_override></provider_override>
                <fallback_enabled>0</fallback_enabled>
                <fallback_provider>recaptcha_v2_checkbox</fallback_provider>
                <fallback_delay>15</fallback_delay>
                <cookie_lifetime>14400</cookie_lifetime>
                <rules></rules>
                <layered_nav_ignored_params>id&#10;stock&#10;store&#10;is_scroll&#10;form_key&#10;__store&#10;p&#10;product_list_limit&#10;product_list_order&#10;product_list_dir&#10;product_list_mode</layered_nav_ignored_params>
                <excluded_ips></excluded_ips>
                <excluded_user_agents>Googlebot&#10;bingbot&#10;Applebot&#10;YandexBot&#10;DuckDuckBot</excluded_user_agents>
                <ajax_marker_params>isAjax&#10;ajax&#10;_&#10;form_key&#10;uenc</ajax_marker_params>
                <background_ajax_marker_params></background_ajax_marker_params>
                <filter_anchor_selector></filter_anchor_selector>
                <filter_param_pattern></filter_param_pattern>
                <appearance>
                    <primary_color>#2f6bd8</primary_color>
                    <primary_color_deep>#2557b6</primary_color_deep>
                    <primary_color_soft>rgba(47,107,216,0.12)</primary_color_soft>
                </appearance>
            </route_protection>
            <advanced>
                <http_timeout>2.0</http_timeout>
            </advanced>
        </hryvinskyi_invisible_captcha>
    </default>
</config>
