<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2019. Volodymyr Hryvinskyi.  All rights reserved.
  ~ @author: <mailto:volodymyr@hryvinskyi.com>
  ~ @github: <https://github.com/hryvinskyi>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Hryvinskyi\InvisibleCaptcha\Model\CheckEnabledVerifyInterface"
                type="Hryvinskyi\InvisibleCaptcha\Model\CheckEnabledVerify"/>
    <preference for="Hryvinskyi\InvisibleCaptcha\Model\ReCaptcha\RequestMethodInterface"
                type="Hryvinskyi\InvisibleCaptcha\Model\ReCaptcha\RequestMethod\CurlPost"/>
    <preference for="Hryvinskyi\InvisibleCaptcha\Model\Area\ConfigListInterface"
                type="Hryvinskyi\InvisibleCaptcha\Model\Area\ConfigList"/>

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="hryvinskyi_invisible_captcha/general/captchaSiteKey" xsi:type="string">1</item>
                <item name="hryvinskyi_invisible_captcha/general/captchaSecretKey" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Hryvinskyi\InvisibleCaptcha\Model\Provider\FailureMessages">
        <arguments>
            <argument name="errorMessages" xsi:type="array">
                <item name="invalid-json" xsi:type="string"
                      translatable="true">Captcha Error: Invalid Json.</item>
                <item name="connection-failed" xsi:type="string"
                      translatable="true">Captcha Error: Connection failed.</item>
                <item name="bad-response" xsi:type="string"
                      translatable="true">Captcha Error: Bad response.</item>
                <item name="unknown-error" xsi:type="string"
                      translatable="true">Captcha Error: Unknown error.</item>
                <item name="missing-input-response" xsi:type="string"
                      translatable="true">Captcha Error: The response parameter is missing.</item>
                <item name="hostname-mismatch" xsi:type="string"
                      translatable="true">Captcha Error: Hostname mismatch.</item>
                <item name="action-mismatch" xsi:type="string"
                      translatable="true">Captcha Error: Action mismatch.</item>
                <item name="score-threshold-not-met" xsi:type="string"
                      translatable="true">Captcha Error: Score Threshold not met.</item>
                <item name="challenge-timeout" xsi:type="string"
                      translatable="true">Captcha Error: Challenge timeout.</item>
                <item name="timeout-or-duplicate" xsi:type="string"
                      translatable="true">Captcha Error: The response is no longer valid: either is too old or has been used previously.</item>
                <item name="invalid-input-response" xsi:type="string"
                      translatable="true">Captcha Error: The response parameter is invalid or malformed.</item>
                <item name="bad-request" xsi:type="string"
                      translatable="true">Captcha Error: The request is invalid or malformed.</item>
                <item name="invalid-input-secret" xsi:type="string"
                      translatable="true">Captcha Error: The secret parameter is invalid or malformed.</item>
                <item name="missing-input-secret" xsi:type="string"
                      translatable="true">Captcha Error: The secret parameter is missing.</item>
                <item name="bad-validator" xsi:type="string"
                      translatable="true">Captcha Error: Validator must implements
                    \Hryvinskyi\InvisibleCaptcha\Model\ReCaptcha\Validators\ValidatorInterface.
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="verifyValidatorList" type="Hryvinskyi\InvisibleCaptcha\Model\ReCaptcha\Validators\ValidatorList">
        <arguments>
            <argument name="entityTypes" xsi:type="array">
                <item name="host" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\ReCaptcha\Validators\Host</item>
                <item name="action" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\ReCaptcha\Validators\Action</item>
                <item name="threshold" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\ReCaptcha\Validators\Threshold</item>
                <item name="timeoutSeconds" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\ReCaptcha\Validators\TimeoutSeconds</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="captchaAreaConfigList" type="Hryvinskyi\InvisibleCaptcha\Model\Area\ConfigList">
        <arguments>
            <argument name="list" xsi:type="array">
                <item name="global" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Helper\Config\General</item>
                <item name="adminhtml" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Helper\Config\Backend</item>
                <item name="frontend" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Helper\Config\Frontend</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Hryvinskyi\InvisibleCaptcha\Model\ReCaptcha\VerifyReCaptcha">
        <arguments>
            <argument name="verifyValidatorList" xsi:type="object">verifyValidatorList</argument>
        </arguments>
    </type>

    <type name="Hryvinskyi\InvisibleCaptcha\Command\Captcha">
        <arguments>
            <argument name="areaConfigList" xsi:type="object">captchaAreaConfigList</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="hryvinskyi_invisible_captcha" xsi:type="object">\Hryvinskyi\InvisibleCaptcha\Command\Captcha</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Controller\ResultInterface">
        <plugin name="Hryvinskyi_InvisibleCaptcha::disable_submit"
                type="Hryvinskyi\InvisibleCaptcha\Plugin\DisableSubmit" sortOrder="10000005" />
    </type>
</config>
