<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2019. Volodymyr Hryvinskyi.  All rights reserved.
  ~ @author: <mailto:volodymyr@hryvinskyi.com>
  ~ @github: <https://github.com/hryvinskyi>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Hryvinskyi\InvisibleCaptcha\Model\CheckEnabledVerifyInterface"
                type="Hryvinskyi\InvisibleCaptcha\Model\CheckEnabledVerify"/>
    <preference for="Hryvinskyi\InvisibleCaptcha\Model\ReCaptcha\RequestMethodInterface"
                type="Hryvinskyi\InvisibleCaptcha\Model\ReCaptcha\RequestMethod\CurlPost"/>

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="hryvinskyi_invisible_captcha/general/captchaSiteKey" xsi:type="string">1</item>
                <item name="hryvinskyi_invisible_captcha/general/captchaSecretKey" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\InvisibleCaptcha\Model\Provider\FailureMessages">
        <arguments>
            <argument name="errorMessages" xsi:type="array">
                <item name="invalid-json" xsi:type="string"
                      translatable="true">Recaptcha Error: Invalid Json</item>
                <item name="connection-failed" xsi:type="string"
                      translatable="true">Recaptcha Error: Connection failed</item>
                <item name="bad-response" xsi:type="string"
                      translatable="true">Recaptcha Error: Bad response</item>
                <item name="unknown-error" xsi:type="string"
                      translatable="true">Recaptcha Error: Unknown error</item>
                <item name="missing-input-response" xsi:type="string"
                      translatable="true">Recaptcha Error: Missing input response</item>
                <item name="hostname-mismatch" xsi:type="string"
                      translatable="true">Recaptcha Error: Hostname mismatch</item>
                <item name="action-mismatch" xsi:type="string"
                      translatable="true">Recaptcha Error: Action mismatch</item>
                <item name="score-threshold-not-met" xsi:type="string"
                      translatable="true">Recaptcha Error: Score Threshold not met</item>
                <item name="challenge-timeout" xsi:type="string"
                      translatable="true">Recaptcha Error: Challenge timeout</item>
                <item name="timeout-or-duplicate" xsi:type="string"
                      translatable="true">Recaptcha Error: Timeout or duplicate</item>
                <item name="invalid-input-response" xsi:type="string"
                      translatable="true">Recaptcha Error: Invalid input response</item>
            </argument>
        </arguments>
    </type>
</config>
