<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2017. Volodumur Hryvinskyi.  All rights reserved.
  ~ @author: <mailto:volodumur@hryvinskyi.com>
  ~ @github: <https://github.com/scriptua>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin name="Script_InvisibleCaptcha::predispatch" type="Script\InvisibleCaptcha\Plugin\Predispatch" />
    </type>
</config>
