<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2026. Volodymyr Hryvinskyi. All rights reserved.
  ~ Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
  ~ GitHub: https://github.com/hryvinskyi
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- ===================== Enablement gates (adminhtml) ===================== -->
    <virtualType name="Hryvinskyi\InvisibleCaptcha\Model\Enablement\Form\AdminLogin" type="Hryvinskyi\InvisibleCaptcha\Model\Enablement\FormEnablement">
        <arguments><argument name="area" xsi:type="string">adminhtml</argument><argument name="form" xsi:type="string">admin_login</argument></arguments>
    </virtualType>
    <virtualType name="Hryvinskyi\InvisibleCaptcha\Model\Enablement\Form\AdminForgot" type="Hryvinskyi\InvisibleCaptcha\Model\Enablement\FormEnablement">
        <arguments><argument name="area" xsi:type="string">adminhtml</argument><argument name="form" xsi:type="string">admin_forgot</argument></arguments>
    </virtualType>

    <!-- ===================== Score thresholds (adminhtml) ==================== -->
    <virtualType name="Hryvinskyi\InvisibleCaptcha\Model\ScoreThreshold\Form\AdminLogin" type="Hryvinskyi\InvisibleCaptcha\Model\ScoreThreshold\FormScoreThreshold">
        <arguments><argument name="form" xsi:type="string">admin_login</argument></arguments>
    </virtualType>
    <virtualType name="Hryvinskyi\InvisibleCaptcha\Model\ScoreThreshold\Form\AdminForgot" type="Hryvinskyi\InvisibleCaptcha\Model\ScoreThreshold\FormScoreThreshold">
        <arguments><argument name="form" xsi:type="string">admin_forgot</argument></arguments>
    </virtualType>

    <!-- ====================== Failure strategy (adminhtml) =================== -->
    <virtualType name="Hryvinskyi\InvisibleCaptcha\Model\Strategy\Failure\Form\AdminForgot"
                 type="Hryvinskyi\InvisibleCaptcha\Model\Strategy\Failure\Redirect">
        <arguments>
            <argument name="redirectUrlProvider" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\Strategy\Failure\RedirectUrl\Referer</argument>
        </arguments>
    </virtualType>

    <!-- ====================== Captcha descriptors (admin) =================== -->
    <virtualType name="Hryvinskyi\InvisibleCaptcha\Model\Captcha\AdminLogin" type="Hryvinskyi\InvisibleCaptcha\Model\Captcha">
        <arguments>
            <argument name="action" xsi:type="string">admin_login</argument>
            <argument name="tokenStrategy" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\Strategy\Token\RequestParam</argument>
            <argument name="failureProvider" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\Strategy\Failure\AuthenticationException</argument>
            <argument name="enablement" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\Enablement\Form\AdminLogin</argument>
            <argument name="scoreThreshold" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\ScoreThreshold\Form\AdminLogin</argument>
        </arguments>
    </virtualType>
    <virtualType name="Hryvinskyi\InvisibleCaptcha\Model\Captcha\AdminForgot" type="Hryvinskyi\InvisibleCaptcha\Model\Captcha">
        <arguments>
            <argument name="action" xsi:type="string">admin_forgot_password</argument>
            <argument name="tokenStrategy" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\Strategy\Token\RequestParam</argument>
            <argument name="failureProvider" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\Strategy\Failure\Form\AdminForgot</argument>
            <argument name="enablement" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\Enablement\Form\AdminForgot</argument>
            <argument name="scoreThreshold" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\ScoreThreshold\Form\AdminForgot</argument>
        </arguments>
    </virtualType>

    <!-- ====================== Form verify observers (admin) ================= -->
    <virtualType name="Hryvinskyi\InvisibleCaptcha\Observer\Form\AdminLogin" type="Hryvinskyi\InvisibleCaptcha\Observer\FormVerify">
        <arguments><argument name="provider" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\Captcha\AdminLogin</argument></arguments>
    </virtualType>
    <virtualType name="Hryvinskyi\InvisibleCaptcha\Observer\Form\AdminForgot" type="Hryvinskyi\InvisibleCaptcha\Observer\FormVerify">
        <arguments><argument name="provider" xsi:type="object">Hryvinskyi\InvisibleCaptcha\Model\Captcha\AdminForgot</argument></arguments>
    </virtualType>
</config>
