<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2019. Volodymyr Hryvinskyi.  All rights reserved.
  ~ @author: <mailto:volodymyr@hryvinskyi.com>
  ~ @github: <https://github.com/hryvinskyi>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <section id="hryvinskyi_invisible_captcha" translate="label" type="text" sortOrder="10" showInDefault="1"
                 showInWebsite="1" showInStore="0">
            <label>Google Invisible Captcha</label>
            <tab>hryvinskyi</tab>
            <resource>Hryvinskyi_InvisibleCaptcha::invisible_captcha</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1">
                <label>General Settings</label>
                <field id="enabledCaptcha" translate="label comment" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1">
                    <label>Enable invisible captcha</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="captchaSiteKey" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1">
                    <label>Site key</label>
                    <comment>
                        <![CDATA[
                            You can generate site key <a href="https://www.google.com/recaptcha/admin"
                            target="_blank">here</a>
                        ]]>
                    </comment>
                    <depends>
                        <field id="enabledCaptcha">1</field>
                    </depends>
                </field>
                <field id="captchaSecretKey" translate="label comment" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1">
                    <label>Secret key</label>
                    <comment>
                        <![CDATA[
                            You can generate secret key <a href="https://www.google.com/recaptcha/admin"
                                target="_blank">here</a>
                        ]]>
                    </comment>
                    <depends>
                        <field id="enabledCaptcha">1</field>
                    </depends>
                </field>
                <field id="useLazyLoad" translate="label comment" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1">
                    <label>Lazy load recaptcha</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                            If enable google recptcha load after form elements on focus, blur or change
                        ]]>
                    </comment>
                </field>
            </group>
            <group id="frontend" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Frontend</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enable invisible captcha in frontend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabledCustomerLogin" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use in login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="scoreThresholdCustomerLogin" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Login Score Threshold</label>
                    <source_model>Hryvinskyi\InvisibleCaptcha\Model\Config\Source\ScoreThreshold</source_model>
                    <depends>
                        <field id="enabledCustomerLogin">1</field>
                    </depends>
                </field>
                <field id="enabledCustomerCreate" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use in Create user</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="scoreThresholdCustomerCreate" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Create User Score Threshold</label>
                    <source_model>Hryvinskyi\InvisibleCaptcha\Model\Config\Source\ScoreThreshold</source_model>
                    <depends>
                        <field id="enabledCustomerCreate">1</field>
                    </depends>
                </field>
                <field id="enabledCustomerForgot" translate="label" type="select" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use in Forgot password</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="scoreThresholdCustomerForgot" translate="label" type="select" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Forgot Password Score Threshold</label>
                    <source_model>Hryvinskyi\InvisibleCaptcha\Model\Config\Source\ScoreThreshold</source_model>
                    <depends>
                        <field id="enabledCustomerForgot">1</field>
                    </depends>
                </field>
                <field id="enabledContact" translate="label" type="select" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use in Contact</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="scoreThresholdContact" translate="label" type="select" sortOrder="90" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Contact Score Threshold</label>
                    <source_model>Hryvinskyi\InvisibleCaptcha\Model\Config\Source\ScoreThreshold</source_model>
                    <depends>
                        <field id="enabledContact">1</field>
                    </depends>
                </field>
                <field id="enabledNewsletter" translate="label" type="select" sortOrder="100" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use in Newsletter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="scoreThresholdNewsletter" translate="label" type="select" sortOrder="110" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Newsletter Score Threshold</label>
                    <source_model>Hryvinskyi\InvisibleCaptcha\Model\Config\Source\ScoreThreshold</source_model>
                    <depends>
                        <field id="enabledNewsletter">1</field>
                    </depends>
                </field>
            </group>
            <group id="backend" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Backend</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable invisible captcha in backend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabledLogin" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable in login page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="scoreThresholdLogin" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Login Score Threshold</label>
                    <source_model>Hryvinskyi\InvisibleCaptcha\Model\Config\Source\ScoreThreshold</source_model>
                    <depends>
                        <field id="enabledLogin">1</field>
                    </depends>
                </field>
                <field id="enabledForgot" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable in forgot password page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="scoreThresholdForgot" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Forgot Password Score Threshold</label>
                    <source_model>Hryvinskyi\InvisibleCaptcha\Model\Config\Source\ScoreThreshold</source_model>
                    <depends>
                        <field id="enabledForgot">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
